@font-face {
    font-family: 'Roboto Condensed';
    src: ~'url(@{url}fonts/robotocondensed-bold-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/robotocondensed-bold-webfont.woff)' format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'FiraSans-Light';
    src: ~'url(@{url}fonts/firasans-light-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/firasans-light-webfont.woff)' format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'FiraSans-Regular';
    src: ~'url(@{url}fonts/firasans-regular-webfont.ttf)' format('truetype'),
         ~'url(@{url}fonts/firasans-regular-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/firasans-regular-webfont.woff)' format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'FiraSans-Medium';
    src: ~'url(@{url}fonts/firasans-medium-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/firasans-medium-webfont.woff)' format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'FiraSans-Bold';
    src: ~'url(@{url}fonts/firasans-bold-webfont.woff2)' format('woff2'),
         ~'url(@{url}fonts/firasans-bold-webfont.woff)' format('woff');
    font-weight: 700;
}
