@import ~'@{dir}normalize';
@import ~'@{dir}fonts';
@import ~'@{dir}mixins';
@import ~'@{dir}base';

/*
 **** THIS 
 * 
 * @pxd: 144rem;
 * 
 * div {
 *   font-size: 24pxd;
 * }
 * 
 **** WILL BE CONVERTED TO THIS
 * 
 * div {
 *   font-size: 24pxd;
 * }
 * 
 **** VARIABLE NAME MUST INCLUDE '@px', e.g.:
 * @pxd: 144rem;
 * @pxm: 32rem;
 * 
 */
 @d: 110rem;
 @m: 32rem;
 @red: #ed2028;
 @hoverred: #d50f17;
 @grey: #646363;
 @lightgrey: #d2d2d2;
 @verylightgrey: #f9f9f9;
 @darkgreen: #0b8644;
 @green: #54cd83;

 .development-bg {
 	position: absolute;
 	z-index: -1;
    display: none;
 }

* {
    padding: 0;
    margin: 0;
}

html {
	font-size: 10vw;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
body {
	font-size: 11/@d;
	background-color: #f4f4f4;
}

header {
    position: fixed;
	border-bottom: 1px solid @lightgrey;
	height: 61/@d;
	background-color: #ffffff;
	width: 100%;
	font-size: 12/@d;
	text-transform: uppercase;
	//position: absolute;
	z-index:10;
	.clear();
}
.header-logo {
    width: 194/@d;
    height: 40/@d;
    margin-top: 11/@d;
    margin-left: 24/@d;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.header-items {
    float: right;
    color: @grey;
    line-height: 62/@d;
    li {
    	list-style: none;
	    display: inline-block;
	    margin-right: 32/@d;
	    transition: color 150ms ease-in-out;
	    &:last-child {
	    	margin-right: 37/@d;
	    }
	    &:hover {
	    	cursor: pointer;
	    	color: #000000;
	    }
    }
}
.header-languages {
    float: right;
    color: #b6b6b6;
    .lang-list {
    	background-color: #ffffff;
	    height: 117/@d;
	    width: 57/@d;
        margin-left: 1px;
        position: absolute;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        pointer-events: none;
    }
    .active {
        color: @grey;
    }
    li {
	    list-style: none;
	    padding-top: 9/@d;
	    padding-left: 16/@d;
	    cursor: pointer;
	    transition: color 150ms ease-in-out;
	    &:hover {
	    	color: @grey;
	    }
    }
    .main-lang {
	    width: 58/@d;
        color: @grey;
	    line-height: 61/@d;
	    padding-left: 16/@d;
	    border-left: 1/@d solid @lightgrey;
	    //border-bottom: 1/@d solid @lightgrey;
	    .image('down.svg');
	    background-size: 15/@d 14/@d;
    	background-position: 31/@d 24/@d;
    	background-repeat: no-repeat;
    	transition: color 150ms ease-in-out;
    }
    &:hover {
        .main-lang {
            color: @grey;
            cursor: pointer;
        }
        .lang-list {
            opacity: 1;
            pointer-events: all;
        }
    }

}
.reserve-button {
    float: right;
    width: 156/@d;
    text-align: center;
    line-height: 61/@d;
    color: #ffffff;
    background-color: @red;
    transition: background-color 150ms ease-in-out;
    &:hover {
    	background-color: @hoverred;
    	cursor: pointer;
    }
    .grill {
    	.image('grill.svg');
	    width: 19/@d;
	    height: 16/@d;
	    display: inline-block;
	    margin-right: 7/@d;
	    background-repeat: no-repeat;
        position: relative;
    	top: 3/@d;
    }
}


/*

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@HERO@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

*/
.hero {
	position: relative;
	img {
	    width: 100%;
	    height: auto;
	    max-height: 100vh;
	    //opacity: 0;
	}
    .hero-img {
        display: none;
    }
 	.hero-text {
 	    position: absolute;
	    font-size: 41/@d;
	    color: #ffffff;
	    bottom: 144/@d;
	    left: 236/@d;
	 }
	 .hero-button {
	 	.grill {
	 		.image('grill.svg');
	 		width: 19/@d;
		    height: 16/@d;
		    display: inline-block;
		    margin-right: 9/@d;
		    background-repeat: no-repeat;
	        position: relative;
	    	top: 3/@d;
	 	}
 	    padding-left: 50/@d;
	 	color: #ffffff;
	 	line-height: 46/@d;
	 	position: absolute;
	    bottom: 86/@d;
	    left: 442/@d;
	    background-color: @red;
	    width: 201/@d;
	    height: 46/@d;
    	letter-spacing: 0.5/@d;
    	transition: background-color 150ms ease-in-out;
    	&:hover {
    		background-color: @hoverred;
    		cursor: pointer;
    	}
	 }
}
.audio {
    position: absolute;
    right: 21/@d;
    bottom: 15/@d;
    cursor: pointer;
	.audio-bg {
		background-color: #000000;
	    width: 64/@d;
	    height: 64/@d;
	    opacity: 0.4;
	    border-radius: 50%;
	}
	.audio-img {
		.image('audio-on.svg');
		background-repeat: no-repeat;
		background-position: center;
	    position: absolute;
	    width: 29/@d;
	    height: 25/@d;
	    top: 19/@d;
	    left: 19/@d;
	}
	.audio-img2 {
		.image('audio-off.svg');
		background-repeat: no-repeat;
		background-position: center;
	    position: absolute;
	    width: 29/@d;
	    height: 25/@d;
	    top: 19/@d;
	    left: 18/@d;
	    display: none;	
	}
	&:hover {
		.audio-img {
			display: none;
		}
		.audio-img2 {
			display: block;
		}
	}
}
.hero-down {
	//.image('down2.svg');
    position: absolute;
    bottom: 10/@d;
    left: 532/@d;
    width: 32/@d;
    height: 26/@d;
	cursor: pointer;	
	svg {
		width: 21/@d;
	    height: 13/@d;
	    position: relative;
	    left: 5/@d;
	    top: 6/@d;
	}
    .st0 {
    	fill: #ffffff;
    	transition: fill 150ms ease-in-out;
    }
    &:hover {
    	.st0 {
			fill: @lightgrey;
		}
    }
}
/*

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@RESERVATION@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

*/
.scroll {
    position: relative;
    bottom: 61/@d;
}
.wrap {
    margin-left: 41/@d;
    margin-right: 41/@d;
    padding-top: 42/@d;	
}
.wrap2 {
	margin-left: 18/@d;
	margin-right: 18/@d;
    margin-bottom: 26/@d;
}
.stick-side {
    float: left;
    will-change: min-height;
    margin-left: 20/@d;
}
.reservation-form {
	background-color: #ffffff;
	width: 305/@d;
    padding-bottom: 1px;
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
    //position: absolute;
    //top: 604/@d;
    //right: 25/@d;
    font-family: 'Firasans-Regular', sans-serif;
    span {
    	font-size: 12/@d;
    }
}
.reservation-form-top {
    padding-top: 13/@d;
    margin-bottom: 18/@d;
    span {
        font-family: 'firasans-medium';
        b {
            font-family: 'firasans-bold';
        }
    }
}
.form-title {
	font-size: 16/@d;
	text-transform: uppercase;
    font-family: 'Roboto Condensed';
}
.form-list-names {
    font-weight: 400;
	font-size: 9/@d;
	font-family: 'FiraSans-Light', sans-serif;
	color: @grey;
	margin-bottom: 14/@d;
	li {
		display: inline-block;
		&:first-child {
			margin-right: 79/@d;
		}
		&:nth-child(2) {
			margin-right: 16/@d;
		}
		&:nth-child(3) {
			margin-right: 41/@d;
		}
	}
}
.form-items {
	font-size: 11/@d;
    font-weight: 400;
	font-family: 'FiraSans-Regular', sans-serif;
	color: @grey;
	line-height: 24/@d;
	//position: relative;
    //bottom: 15/@d;
   // border-bottom: 1/@d solid #d2d2d2;
    //padding-bottom: 22/@d;
	.form-item {
		position: relative;
		height: 32/@d;
		border-bottom: 1/@d solid #d2d2d2;
	    width: 100%;
        margin-bottom: 6/@d;
        &:last-child {
        	border-bottom: none;
        }
	    div {
	    	display: inline-block;
	    }
	}
	.form-item-title {
	    width: 129/@d;
        line-height: 10/@d;
        vertical-align: middle;
	}
	.form-item-price {
    	width: 38/@d;
	}
	.form-item-volume {
	    width: 64/@d;
	    svg {
    	    position: absolute;
		    left: 206/@d;
		    top: 10/@d;
		    width: 7/@d;
		    height: 5/@d;
	    }
		select {
		    width: 50/@d;
   			padding-left: 10/@d;
            background-color: @verylightgrey;
		}
	}
}
.form-bottom {
	padding-top: 33/@d;
	font-family: 'FiraSans-Bold', sans-serif;
	font-size: 18/@d;
}
.form-bottom-text {
	.clear();
}
.form-bottom-left {
	float: left;
}
.form-bottom-right {
	float: right;
}
.form-button {
	background-color: @red;
	height: 49/@d;
    margin-top: 22/@d;
    padding-left: 82/@d;
    padding-top: 13/@d;
    font-size: 12/@d;
    letter-spacing: 0.5/@d;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
    &:hover {
    	background-color: @hoverred;
    }
    .grill {
    	.image('grill.svg');
	    width: 19/@d;
	    height: 16/@d;
	    display: inline-block;
	    margin-right: 7/@d;
	    background-repeat: no-repeat;
        position: relative;
    	top: 3/@d;
    }
}
.additional-text {
    margin-top: 20/@d;
    font-family: 'Firasans-Regular';
    font-weight: 400;
    font-size: 13/@d;
    color: @grey;
    a {
        color: @red;
        font-family: 'Firasans-medium';
        font-size: 15/@d;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    b {
        font-size: 15/@d;
        font-family: 'Firasans-medium';
    }
    p {
        margin-top: 12/@d;
    }
}
.reservation-items {
	.clear();
    margin-bottom: 60/@d;
    width: 1018/@d;
    min-height: 450/@d;
}
.res-container {
    float: left;
    width: 692/@d;
}
.reservation-item {
	background-color: #ffffff;
    min-height: 51/@d;
    max-width: 693/@d;
    margin-bottom: 15/@d;
    display: inline-block;
	&:last-child {
		margin-bottom: 0;
	}
}
.reservation-top {
    width: 693/@d;
    height: 56/@d;
    cursor: pointer;
}
.reservation-title {
	padding-top: 15/@d;
    font-size: 16/@d;
    text-transform: uppercase;
    display: inline-block;
}
.reservation-button {
    float: right;
    width: 25/@d;
    height: 25/@d;
    background-repeat: no-repeat;
    margin-top: 14/@d;
}
.reservation-button2 {
    float: right;
    width: 25/@d;
    height: 25/@d;
    background-repeat: no-repeat;
    margin-top: 14/@d;
    display: none;
}
.reservation-content {
	//background-color: #ffffff;
    display: none;
    font-size: 63/@d;
    margin-bottom: 10/@d;
}
.reservation-active {
    display: block;
}
.reservation-content-3 {
	margin-bottom: 24/@d;
}
.reservation-content-4 {
	margin-bottom: 30/@d;
}
.reservation-option {
	background-color: @verylightgrey;
	border: 1/@d solid @lightgrey;
	width: 209/@d;
	height: 116/@d;
	display: inline-block;
    margin-bottom: -11/@d;
    position: relative;
    transition: border 150ms ease-in-out;
    cursor: pointer;
    &:hover {
    	border:1/@d solid #000000;
    }
}
.reservation-content .active {
	background-color: @green;
	.st0 {
		fill: #ffffff;
	}
	.reservation-option-text {
		color: #ffffff;
	}
}
.reservation-option-img  {
	svg {
	    //width: 42/@d;
	    //height: 45/@d;
	    margin: 0 auto;
	    display: block;
	    position: relative;
	    top: 29/@d;
	}
}
.reservation-option-text {
	font-family: 'Firasans-Regular';
    font-size: 11/@d;
    font-weight: 400;
    display: table;
    margin: 0 auto;
    position: relative;
    top: 46/@d;
    color: @grey;
    &:last-child {
    	top:34/@d;
	    text-align: center;
    }
}
/*

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@GALLERY@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

*/
.gallery-images {
	position: relative;
	font-size: 0;
}

.gallery-left {
	width:65/@d;
	height:65/@d;
	position: absolute;
    z-index: 10;
    top: 213/@d;
    left: 19/@d;
    cursor: pointer;
    &:hover {
    	.gallery-swipe-bg {
    		opacity: 0.9;
    	}
    }

	.gallery-swipe-img {
		.image('left.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    background-size: 12/@d 21/@d;
	}
}
.gallery-right {
	width:65/@d;
	height:65/@d;
	position: absolute;
    z-index: 9;
    top: 213/@d;
    right: 19/@d;
   	cursor: pointer;
    &:hover {
    	.gallery-swipe-bg {
    		opacity: 0.9;
    	}
    }

	.gallery-swipe-img {
		.image('right.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    background-size: 12/@d 21/@d;
	}
}
.gallery-swipe-bg {
	border-radius: 50%;
	opacity: 0.4;
	background-color: #000000;
	height: 100%;
	transition: opacity 150ms ease-in-out;
}


.gallery-item {
	position: relative;
	display: inline-block;
    height: 246/@d;
    width: 33.333%;
    cursor: pointer;
    a {
    	.sheet();
    }
    &:hover {
    	.gallery-dark {
    		opacity: 0.7;
    	}
    	.gallery-zoom {
    		opacity: 1;
    	}
    }
}
.gallery-image {
    height: 246/@d;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.gallery-dark {
	position: absolute;
    top: 0;
    left: 0;
    height: 246/@d;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.gallery-zoom {
	.image('zoom.svg');
	background-size: 44/@d 44/@d;
	.sheet();
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}
/*

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@DESCRIPTION@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

*/
.descriptions {
	font-size: 0;
	background-color: #ffffff;
    height: 498/@d;
}
.description-item {
	width: 24.999%;
	border-right: 1/@d solid @verylightgrey;
	display: inline-block;
	vertical-align: top;
	height:100%;
}
.wrap3 {
    margin-left: 35/@d;
    margin-right: 35/@d;
    padding-top: 64/@d;
    padding-bottom: 64/@d;
}
.description-img {
    width: 66/@d;
    height: 63/@d;
    margin-bottom: 29/@d;
    background-repeat: no-repeat;
    background-position: left;
}
.description-title {
	font-size: 18/@d;
    line-height: 20/@d;
    max-width: 170/@d;
    margin-bottom: 23/@d;
}
.description-text {
	font-size: 12/@d;
    font-weight: 400;
	color: @grey;
	line-height: 18/@d;
    font-family: 'Firasans-Regular';
}
.entertainment {
	.clear();
}
.e-text {
	margin: 0 auto;
    text-align: center;
    font-size: 18/@d;
    letter-spacing: 0.8/@d;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    position: relative;
}
.e-underline {
    width: 36/@d;
    height: 3/@d;
    background-color: white;
    margin: 0 auto;
    transition: width 500ms ease-in-out;
}
.e-tennis {
    width: 50%;
    height: 550/@d;
    background-size: cover;
    float: left;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .e-img {
	    width: 100%;
	    height: 550/@d;
	    background-size: cover;
	    overflow: hidden;
	    position: absolute;
	    transition: transform 700ms ease-in-out;
    }
    &:hover {
    	.e-img {
    		transform: scale(1.1);
    	}
    	.tennis-text {
    		.e-underline {
    			width:100%;
    		}
    	}
    }
}
.tennis-text {
    height: 550/@d;
    line-height: 579/@d;
    .e-underline {
	    position: relative;
	    bottom: 260/@d;
    }
}
.e-volleyball {
    width: 50%;
    height: 275/@d;
    float: right;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .e-img {
	    width: 100%;
	    height: 275/@d;
	    background-size: cover;
	    overflow: hidden;
	    position: absolute;
	    transition: transform 700ms ease-in-out;
    }
    &:hover {
    	.e-img {
    		transform: scale(1.1);
    	}
    	.volleyball-text {
    		.e-underline {
    			width:100%;
    		}
    	}
    }
}
.volleyball-text {
    height: 50/@d;
    max-width: 195/@d;
    line-height: 20/@d;
    position: relative;
    top: 110/@d;
    .e-underline {
	    position: relative;
	    top: 23/@d;
    }
}
.e-basketball {
	width: 25%;
    height: 275/@d;
    float: right;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .e-img {
	    width: 100%;
	    height: 275/@d;
	    background-size: cover;
	    overflow: hidden;
	    position: absolute;
	    transition: transform 700ms ease-in-out;
    }
    &:hover {
       	.e-img {
    		transform: scale(1.1);
    	}
    	.basketball-text {
    		.e-underline {
    			width:100%;
    		}
    	}
    }
}
.basketball-text {
	height: 275/@d;
    line-height: 250/@d;
    .e-underline {
	    position: relative;
        bottom: 95/@d;
    }
}
.e-play {
	width: 25%;
    height: 275/@d;
    float: right;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    .e-img {
	    width: 100%;
	    height: 275/@d;
	    background-size: cover;
	    overflow: hidden;
	    position: absolute;
	    transition: transform 700ms ease-in-out;
    }
    &:hover {
       	.e-img {
    		transform: scale(1.1);
    	}
    	.play-text {
    		.e-underline {
    			width:100%;
    		}
    	}
    }
}
.play-text {
	height: 275/@d;
    line-height: 250/@d;
    .e-underline {
	    position: relative;
        bottom: 95/@d;
    }
}

.partners {
	padding-top: 53/@d;
    padding-bottom: 49/@d;
    text-align: center;
    background-color: #ffffff;
}
.partner-img {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 20/@d;
    margin-left: 20/@d;
    &:first-child {
    	margin-left: 0;
    }
    &:last-child {
    	margin-right: 0;
    }
}
.partners-title {
    font-size: 18/@d;
    text-transform: uppercase;
    margin-bottom: 59/@d;
}


.map {
    width: 100%;
    height: 436/@d;
    position: relative;
}
.contact-box {
	position: absolute;
    width: 362/@d;
    height: 325/@d;
    right: 26/@d;
    top: 38/@d;
    background-color: #ffffff;
    p {
    	font-family: 'Firasans-Light', sans-serif;
    	font-size: 18/@d;
    	color: @grey;
    	a {
    		color: @red;
            font-family: 'Firasans-Medium', sans-serif;
    		text-decoration: none;
    		&:hover {
    			text-decoration: underline;
    		}
    	}
    	b {
    		font-family: 'Firasans-Medium', sans-serif;
    	}
    }
}
.contact-button {
    width: 202/@d;
    height: 49/@d;
    margin-top: 44/@d;
    color: #ffffff;
    font-size: 12/@d;
    padding-left: 50/@d;
    padding-top: 14/@d;
    background-color: @red;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
    .grill {
    	.image('grill.svg');
	    width: 19/@d;
	    height: 16/@d;
	    display: inline-block;
	    margin-right: 7/@d;
	    background-repeat: no-repeat;
        position: relative;
    	top: 3/@d;
    }
    &:hover {
    	background-color: @hoverred;
    }
}
.wrap4 {
	padding-top: 48/@d;
    padding-left: 54/@d;
}
.contact-header {
    text-transform: uppercase;
    font-size: 20/@d;
    padding-bottom: 17/@d;
}

footer {
	text-align: center;
    background-color: #ffffff;
}
.footer-text {
    display: inline-block;
    padding-top: 23/@d;
    font-size: 11/@d;
    padding-bottom: 28/@d;
    font-family: 'Firasans-Regular', sans-serif;
    color: @grey;
    opacity:0.5;
    font-weight: 400;
}

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-CALENDAR-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.date-picker-wrapper {
    width: 630/@d;
    padding: 0;
    padding-bottom: 0 !important;
    border: none;
    color: @grey;
    .footer {
        padding-top: 0;
    }
    .gap {
        background-color: #ffffff !important;
        .gap-lines {
            display: none !important;
        }
    }
}
.drp_top-bar {
    display: none;
}
.month-name {
    font-family: 'Roboto Condensed';
}
.month-wrapper {
    width: 654/@d !important;
    padding: 0 !important;
    border: none !important;
    .week-name {
        font-family: 'firasans-regular';
    }
    .real-today {
        background-color: @darkgreen;
    }
}
.month1 {
    width: 290/@d !important;
    tbody {
        tr {
            border-left: 1px solid @lightgrey;
            border-top: 1px solid @lightgrey;
            &:first-child {
                border-left: none;
                border-top: none;
                td {
                    &:first-child {
                        .toMonth {
                            &:before {
                                left: 0 !important;
                            }
                        }
                    }
                }
                .toMonth {
                    border-top: 1px solid @lightgrey;
                    position: relative;

                    &:before {
                        content: "";
                        width: 44/@d;
                        height:40/@d;
                        border-left: 1px solid @lightgrey;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                    }
                }
            }
            &:last-child {
                border-right: none;
                .toMonth {
                    border-bottom: 1px solid @lightgrey;
                    border-right: 1px solid @lightgrey;
                }
            }
            .toMonth {
                border-right: 1px solid @lightgrey;
            }
        }
    }
}
.month2 {
    width: 290/@d !important;
    tbody {
        tr {
            border-left: 1px solid @lightgrey;
            border-top: 1px solid @lightgrey;
             td {
                &:first-child {
                    .toMonth {
                        &:before {
                            left: 0 !important;
                        }
                    }
                }
            }
            &:first-child {
                border-left: none;
                border-top: none;
                .toMonth {
                    border-top: 1px solid @lightgrey;
                    position: relative;

                    &:before {
                        content: "";
                        width: 44/@d;
                        height:40/@d;
                        border-left: 1px solid @lightgrey;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                    }
                }
            }
            &:last-child {
                border-right: none;
                .toMonth {
                    border-bottom: 1px solid @lightgrey;
                    border-right: 1px solid @lightgrey;
                }
            }
            .toMonth {
                border-right: 1px solid @lightgrey;
            }
        }
    }
}
.day {
    font-family: 'Firasans-Regular', sans-serif;
    color: @grey;
    font-size: 11/@d;
    font-weight: 400;
    //width: 44/@d;
    padding: 11/@d 0 !important;
    //border: 1/@d solid @lightgrey;
    margin-bottom: 0 !important;
    background-color: @verylightgrey;
}
.week-name {
    th {
        width:44/@d;
        padding: 11/@d 0 !important;
    }
}
.next {
    border: 1px solid @lightgrey;
    width: 44/@d !important;
    padding: 8/@d 17/@d !important;
    background-color: @verylightgrey !important;
    color: #221f1f !important;
    transition: border 150ms ease-in-out;
    &:hover {
        border: 1px solid #000000;
    }
}
.prev {
    border: 1px solid @lightgrey;
    padding: 8/@d 17/@d !important;
    background-color: @verylightgrey !important;
    color: #221f1f !important;
    transition: border 150ms ease-in-out;
    &:hover {
        border: 1px solid #000000;
    }
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-BEFORE RESERVATION-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.reservation-dates {
    //display: none;
}
.reservation-selected {
    //display: none;
}
.form-bottom-text {
    //display: none;
}
.before-selection {
    display: none;
}
.button-deactivated {
    margin-top: -20/@d;
    pointer-events: none;
    opacity: 0.3;
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-POPUP-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.dark-bg {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    position:fixed;
    z-index: 19;
    top: 0;
    left: 0;
    display: none;
}
.reg-popup {
    display: none;
    position: fixed;
    width: 368/@d;
    height: 410/@d;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    margin-left: -184/@d;
    margin-top: -205/@d;
    z-index: 20;
    font-family: 'firasans-medium';
    input {
        display: block;
        font-family: 'firasans-regular';
        color: @grey;
        width: 100%;
        height: 34/@d;
        padding-left: 8/@d;
        padding-right: 8/@d;
        border: 1/@d solid @lightgrey;
        background-color: @verylightgrey;
        margin-top: 2/@d;
    }
}
.wrap5 {
    margin-left: 42/@d;
    margin-right: 42/@d;
    margin-top: 45/@d;
    margin-bottom: 30/@d;
}
.reg-name {
    margin-bottom: 22/@d;
}
.reg-mail {
    margin-bottom: 18/@d;
}
.reg-phone {
    margin-bottom: 12/@d;
}
.reg-check {
    margin-bottom: 28/@d;
    input {
        width: 22/@d;
        height: 22/@d;
        display: inline-block;
        margin-right: 10/@d;
        vertical-align: middle;
    }
    span {
        vertical-align: middle;
        position: relative;
        top: 2/@d;
    }
}
.reg-accept {
    width: 100%;
    height:49/@d;
    background-color: @red;
    text-align: center;
    padding-top: 16/@d;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Condensed';
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    &:hover {
        background-color: @hoverred;
    }
}
.reg-decline {
    height: 30/@d;
    width: 100/@d;
    margin: 0 auto;
    text-align: center;
    color: red;
    text-transform: uppercase;
    padding-top: 9/@d;
    font-family: 'Roboto Condensed';
    cursor: pointer;
    transition: color 150ms ease-in-out;
    &:hover {
        color: @hoverred;
    }
}

.mobile-menu {
    display: none;
}
.mobile-close {
    display: none;
}
.reservation-fix {
    min-height: 525/@d;
}
.header-bg {
    display: none;
}
#cooperation-m {
    display: none;
}
#gallery-m {
    display: none;
}
/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-MOBILE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
@media only screen and (max-width: 768px) {

    header {
        //background-color: transparent;
        height: 61/@m;
        .header-bg {
            display: block;
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            position:absolute;
            z-index: 10;
        }
        .header-logo {
            position: relative;
            z-index: 10;
            width: 154/@m;
            height: 34/@m;
            margin-top: 13/@m;
            margin-left: 17/@m;
        }
        .reserve-button {
            display: none;
        }

        .mobile-menu {
            position: relative;
            z-index: 10;
            display: block;
            width: 56/@m;
            height: 100%;
            float: right;
            border-left: 1/@m solid @lightgrey;
            .image('menu.svg');
            background-size: 17/@m 18/@m;
            background-position: center;
            background-repeat: no-repeat;
        }
        .mobile-close {
            position: relative;
            z-index: 10;
            display: block;
            width: 56/@m;
            height: 100%;
            float: right;
            .image('close.svg');
            background-size: 17/@m 18/@m;
            background-position: center;
            background-repeat: no-repeat;
            display: none;
        }
        .header-languages {
            position: relative;
            z-index: 10;
            width: 56/@m;
            height: 100%;
            font-size: 13/@m;
            

            .lang-list {
                height: 117/@m;
                width: 58/@m;
            }
            li {
                padding-top: 9/@m;
                padding-left: 16/@m;
            }
            .main-lang {
                width: 58/@m;
                line-height: 61/@m;
                padding-left: 16/@m;
                border-left: 1/@m solid @lightgrey;
                background-size: 15/@m 14/@m;
                background-position: 32/@m 22/@m;
            }
        }

        .header-items {
            font-size: 15/@m;
            background-color: #ffffff;
            height: 100vh;
            width: 100vw;
            text-align: center;
            transform: translate3d(0, -100%, 0);
            transition: transform 500ms ease-in-out;
            li {
                display: block;
                margin-top: 40/@m;
                &:first-child {
                    margin-top: 50/@m;
                }
            }
        }

    }
    .menu-opened {
        .header-items {
            transform: translate3d(0,0,0);
        }
        .header-languages {
            display: none;
        }
        .mobile-menu {
            display: none;
        }
        .mobile-close {
            display: block;
        }
    }

/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-HERO-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.hero {
    img {
        display: none;
    }
}

.hero {
    .hero-img {
        display: block;
        width:100%;
        height:90vh;
        min-height: 330/@m;
        background-size: cover;
        background-position-x: -30/@m;
    }
    .hero-text {
        font-size: 30/@m;
        text-align: center;
        left: 0;
        bottom: 138/@m;
        line-height: 30/@m;
    }
    .hero-button {

        width: 225/@m;
        height: 54/@m;
        font-size: 14/@m;
        left: 50/@m;
        padding-left: 60/@m;
        padding-top: 15/@m;
        bottom: 62/@m;
        .grill {
            width: 21/@m;
            height: 17/@m;
            top: 2/@m;
        }
    }
    .hero-down {
        width: 30/@m;
        height: 30/@m;
        left: 145/@m;
        bottom: 8/@m;
        svg {
            width: 20/@m;
            height: 20/@m;
            left: 5/@m;
            top: 5/@m;
        }
    }
}
.audio {
    display: none;
}


/*
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-RESERVATION-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/
.scroll {
    position: relative;
    bottom: 60/@m;
}
.wrap {
    margin-left: 8/@m;
    margin-right: 8/@m;       
    padding-top: 10/@m;  
}
.wrap2 {
    margin-left: 10/@m;
    margin-right: 10/@m;   
}
.padding {
    font-size: 33/@m;
}
.stick-side {
    margin-top: 16/@m;
    float: none;
    margin-left: -8/@m;
}
.reservation-form {
    font-size: 13/@m;
    width: 320/@m;
    margin-bottom: 18/@m;
    .wrap2 {
        margin-left: 18/@m;
        margin-right: 18/@m;
    }
    position: static;
    span {
        font-size: 13/@m;
    }
}
.reservation-form-top {
    padding-top: 16/@m;
}
.form-title {
    font-size: 15/@m;
}
.form-bottom {
    padding-bottom: 25/@m;
    margin-bottom: 0;
}
.form-bottom-text {
    font-size: 20/@m;
}
.reservation-form-top {
    padding-top: 13/@m;
    margin-bottom: 18/@m;
    span {
        font-family: 'firasans-medium';
        b {
            font-family: 'firasans-bold';
        }
    }
}
.form-title {
    font-size: 16/@m;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
}
.form-list-names {
    font-size: 9/@m;
    font-family: 'FiraSans-Light', sans-serif;
    color: @grey;
    margin-bottom: 14/@m;
    li {
        display: inline-block;
        &:first-child {
            margin-right: 79/@m;
        }
        &:nth-child(2) {
            margin-right: 16/@m;
        }
        &:nth-child(3) {
            margin-right: 41/@m;
        }
    }
}
.form-items {
    font-size: 11/@m;
    font-family: 'FiraSans-Regular', sans-serif;
    color: @grey;
    line-height: 24/@m;
    //position: relative;
    //bottom: 15/@m;
   // border-bottom: 1/@m solid #d2d2d2;
    //padding-bottom: 22/@m;
    .form-item {
        position: relative;
        height: 32/@m;
        border-bottom: 1/@m solid #d2d2d2;
        width: 100%;
        margin-bottom: 6/@m;
        &:last-child {
            border-bottom: none;
        }
        div {
            display: inline-block;
        }
    }
    .form-item-title {
        width: 129/@m;
        line-height: 10/@m;
        vertical-align: middle;
    }
    .form-item-price {
        width: 38/@m;
    }
    .form-item-volume {
        width: 64/@m;
        svg {
            position: absolute;
            left: 206/@m;
            top: 10/@m;
            width: 7/@m;
            height: 5/@m;
        }
        select {
            width: 50/@m;
            padding-left: 10/@m;
            background-color: @verylightgrey;
        }
    }
}
.additional-text {
    margin-top: 20/@m;
    font-family: 'Firasans-Regular';
    font-weight: 400;
    font-size: 13/@m;
    color: @grey;
    a {
        color: @red;
        font-family: 'Firasans-medium';
        font-size: 15/@m;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    b {
        font-size: 15/@m;
        font-family: 'Firasans-medium';
    }
    p {
        margin-top: 12/@m;
    }
}
.form-button {
    height: 48/@m;
    font-size: 14/@m;
    padding-left: 98/@m;
    padding-top: 13/@m;
    margin-top: 20/@m;
    .grill {
        width: 19/@m;
        height: 15/@m;
    }
}
.button-deactivated {
    margin-top: 20/@m;
}
.res-container {
    float: none;
    width: 100%;
}
.reservation-items {
    width: 304/@m;
}
.reservation-calendar {
    position: relative;
    right: 2/@d;
}
.reservation-item {
    width: 100%;
    max-width: 100%;
    //background-color: transparent;
}
.reservation-top {
    width:100%;
    height: 50/@m;
}
.reservation-title {
    font-size: 15/@m;
    padding-top: 16/@m;
}
.reservation-button {
    width: 28/@m;
    height: 28/@m;
    margin-top: 13/@m;
}
.reservation-button2 {
    width: 28/@m;
    height: 28/@m;
    margin-top: 13/@m;
}

.date-picker-wrapper {
    width:100%;
}
.month-wrapper {
    width:100% !important;
}
.month1 {
    width: 100% !important;
}
.gap {
    display: none;
}

.reservation-content {
    margin-bottom: 15/@m;
    margin-top: 5/@m;
}
.reservation-option {
    width: 138/@m;
    height: 77/@m;
    .reservation-option-text {
        top: 32/@m;
    }
    &:hover {
        border: none;
    }
    svg {
        width: 32/@m;
        height: 20/@m;
        top: 22/@m;
    }
    &:nth-child(2) {
        svg {
            width: 50/@m;
            height: 20/@m;
        }
    }
    &:nth-child(3) {
        svg {
            width: 72/@m;
            height: 20/@m;
        }
    }
    &:nth-child(7) {
        .reservation-option-text {
            top: 24/@m;
        }
        svg {
            width: 44/@m;
            height: 20/@m;
            top: 18/@m;
        }
    }
}
.reservation-option-text {
    font-size: 10/@m;
    max-width: 120/@m;
}
.reservation-item {
    &:nth-child(3) {
        svg {
            width: 32/@m;
            height: 25/@m;
        }
        .reservation-option {
            &:nth-child(2) {
                svg {
                    height: 30/@m;
                    top: 18/@m;
                }
                .reservation-option-text {
                    top: 28/@m;
                }
            }
            &:nth-child(3) {
                svg {
                    height: 30/@m;
                    top: 18/@m;
                }
                .reservation-option-text {
                    top: 26/@m;
                }
            }
        }
    }
}




.date-picker-wrapper {
    width: 100%;
    padding: 0;
    padding-bottom: 0 !important;
    border: none;
    color: @grey;
    .footer {
        padding-top: 0;
    }
}

.drp_top-bar {
    display: none;
}
.month-name {
    font-family: 'Roboto Condensed';
}
.month-wrapper {
    height: 428/@m;
    padding: 0 !important;
    border: none !important;
    .week-name {
        font-family: 'firasans-regular';
    }
    .real-today {
        background-color: @darkgreen;
    }
}
.month1 {
    width: 290/@m !important;
    margin-bottom: 10/@m;
    tbody {
        font-size: 10/@m !important;
        tr {
            border-left: 1px solid @lightgrey;
            border-top: 1px solid @lightgrey;
            &:first-child {
                border-left: none;
                border-top: none;
                .toMonth {
                    border-top: 1px solid @lightgrey;
                    position: relative;


                    &:before {
                        content: "";
                        width: 44/@m;
                        height:36/@m;
                        border-left: 1px solid @lightgrey;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                    }
                }
            }
            &:last-child {
                border-right: none;
                .toMonth {
                    border-bottom: 1px solid @lightgrey;
                    border-right: 1px solid @lightgrey;
                }
            }
            .toMonth {
                border-right: 1px solid @lightgrey;
            }
        }
    }
    .week-name {
        border-top: 1px solid @lightgrey;
        border-bottom: 1px solid @lightgrey;
    }
}
.month2 {
    width: 290/@m !important;
    .caption {
        position: absolute;
        top: 260/@m;
        left: 91/@m;
    }

    .week-name {
        opacity:0;
        height: 1px !important;
    }
    tbody {
        background-color: #ffffff;
        position: relative;
        bottom: 10/@m;
        tr {
            border-left: 1px solid @lightgrey;
            border-top: 1px solid @lightgrey;
            &:first-child {
                border-left: none;
                border-top: none;
                .toMonth {
                    border-top: 1px solid @lightgrey;
                    position: relative;

                    &:before {
                        content: "";
                        width: 44/@m;
                        height:34/@m;
                        border-left: 1px solid @lightgrey;
                        position: absolute;
                        top: -1px;
                        left: -1px;
                    }
                }
            }
            &:last-child {
                border-right: none;
                .toMonth {
                    border-bottom: 1px solid @lightgrey;
                    border-right: 1px solid @lightgrey;
                }
            }
            .toMonth {
                border-right: 1px solid @lightgrey;
            }
        }
    }
}
.day {
    font-family: 'Firasans-Regular', sans-serif;
    font-size: 10/@m !important;
    //width: 44/@m;
    padding: 11/@m 0 !important;
    //border: 1/@m solid @lightgrey;
    margin-bottom: 0 !important;
    background-color: @verylightgrey;
}
.week-name {
    th {
        width:44/@m;
        padding: 11/@m 0 !important;
    }
}
.next {
    display: none;
}
.prev {
    display: none;
}



    #gallery {
        display: none;
    }
    #gallery-m {
        display: block;
    }
    .gallery-right {
        width: 46/@m;
        top: 118/@m;
        right: 15/@m;
        height: 46/@m;
        cursor: none;
        .gallery-swipe-img {
            background-size: 8/@m 15/@m;
        }
        &:hover {
        .gallery-swipe-bg {
            opacity: 0.4;
        }
    }
    }
    .gallery-list {
        margin-left: 8/@m;
    }
    .gallery-item {
        width: 410/@m;
        height: 275/@m;
    }
    .gallery-image {
        height: 100%;
    }
    .wrap3 {
        margin-left: 18/@m;
        margin-right: 18/@m;
    }
    .descriptions {
        height: auto;
    }
    .description-item {
        width: 100%;
        display: block;
        &:last-child {
            padding-bottom: 30/@m;
        }
    }
    .description-img {
        display: inline-block;
        vertical-align: middle;
        width: 77/@m;
        height: 70/@m;
    }
    .description-title {
        display: inline-block;
        vertical-align: middle;
        width: 178/@m;
        font-size: 20/@m;
        line-height: 22/@m;
        max-width: none;
        margin-left: 22/@m;
    }
    .description-text {
        font-size: 13/@m;
        line-height: 20/@m;
        margin-top: 10/@m;
    }

    .e-underline {
        width: 40/@m;
    }
    .e-tennis {
        width: 302/@m;
        margin-left: 9/@m;
        height: 302/@m;
        .e-img {
            height: 302/@m;
        }
        &:hover {
            .e-img {
                transform: none;
            }
            .tennis-text {
                .e-underline {
                    width: 40/@m;
                }
            }
        }
    }
    .tennis-text {
        .e-underline {
            bottom: 118/@m;
            height: 2/@m;
        }
    }
    .e-text {
        line-height: 290/@m;
        font-size: 20/@m;
    }
    .e-volleyball {
        float: none;
        width: 302/@m;
        height: 302/@m;
        margin-left: 9/@m;
        .e-img {
            background-position: right;
            height: 302/@m;
        }
        &:hover {
            .e-img {
                transform: none;
            }
            .volleyball-text {
                .e-underline {
                    width: 40/@m;
                }
            }
        }
    }
    .volleyball-text {
        top: 120/@m;
        max-width: 208/@m;
        line-height: 24/@m;
        height: 301/@m;
        .e-underline {
            height: 2/@m;
            top: 16/@m;
        }
    }
    .e-basketball {
        float: none;
        width: 302/@m;
        height: 302/@m;
        margin-left: 9/@m;
        .e-img {
            height: 302/@m;
        }
        &:hover {
            .e-img {
                transform: none;
            }
            .basketball-text {
                .e-underline {
                    width: 40/@m;
                }
            }
        }
    }
    .basketball-text {
        .e-underline {
            bottom: 118/@m;
            height: 2/@m;
        }
    }
    .e-play {
        float: none;
        width: 302/@m;
        height: 302/@m;
        margin-left: 9/@m;
        .e-img {
            height: 302/@m;
        }
        &:hover {
            .e-img {
                transform: none;
            }
            .play-text {
                .e-underline {
                    width: 40/@m;
                }
            }
        }
    }
    .play-text {
        .e-underline {
            bottom: 118/@m;
            height: 2/@m;
        }
    }
    .e-item {
        cursor: none;
        margin-bottom: 8/@m;
        &:last-child {
            margin-bottom: 20/@m;
        }
    }


    #cooperation {
        display: none;
    }
    #cooperation-m {
        display: block;
        .swiper-slide {
            width: 50%;
        }
    }
    .partners {
        padding-top: 24/@m;
        padding-bottom: 48/@m;
    }
    .partners-title {
        font-size: 20/@m;
        margin-bottom: 60/@m;
    }
    .partner-images {
        white-space: nowrap;
        overflow: hidden;
        //margin-left: 20/@m;
    }
    .partner-img {
        width: 200/@m !important;
        margin-left: 0;
        &:first-child {
            margin-left: 10/@m;
        }
        &:last-child {
            margin-right: 0;
            width: 80/@m !important;
        }
    }


    .map {
        height: 486/@m;
    }
    .wrap4 {
        padding-left: 24/@m;
        padding-top: 32/@m;
    }
    .contact-box {
        top: auto;
        bottom: 14/@m;
        width: 302/@m;
        height: 213/@m;
        right: 9/@m;
        p {
            font-size: 15/@m;
        }
    }
    .contact-header {
        font-size: 15/@m;
        padding-bottom: 20/@m;
    }
    .contact-button {
        width: 168/@m;
        height: 41/@m;
        font-size: 13/@m;
        padding-left: 36/@m;
        padding-top: 10/@m;    
        margin-top: 10/@m;
        .grill {
            width: 18/@m;
            height: 14/@m;
        }
    }


    .footer-text {
        font-size: 12/@m;
        padding: 22/@m 0;
    }
    /*
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@reservation @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    */
    .reg-popup {
        width: 320/@m;
        height: 100vh;
        top:0;
        left: 0;
        margin-left: auto;
        margin-top: auto;
        overflow: scroll;
        font-size: 13/@m;
        input {
            width: 100%;
            height: 34/@m;
            padding-left: 8/@m;
            padding-right: 8/@m;
            border: 1/@m solid @lightgrey;
            margin-top: 2/@m;
        }
    }
    .wrap5 {
        margin-left: 18/@m;
        margin-right: 18/@m;
        margin-top: 35/@m;
        margin-bottom: 25/@m;
    }
    .reg-name {
        margin-bottom: 32/@m;
    }
    .reg-mail {
        margin-bottom: 28/@m;
    }
    .reg-phone {
        margin-bottom: 22/@m;
    }
    .reg-check {
        margin-bottom: 60/@m;
        input {
            width: 22/@m;
            height: 22/@m;
            margin-right: 10/@m;
        }
        span {
            top: 2/@m;
        }
    }
    .reg-accept {
        height:49/@m;
        padding-top: 16/@m;
    }
    .reg-decline {
        height: 30/@m;
        width: 100/@m;
        margin-top: 10/@m;
        padding-top: 6/@m;
    }
}